.decklist-content {
  color:#fdce93;
  background-color:#3f3f3f;
}

.card-link {
  text-decoration: none;
  position: relative;
}

.card-link:hover {
  text-decoration: underline;
}


/* .card-link:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 200%;
  width: 250px;
  height: 350px;
  background-color: white;
  background-image: url('');
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-link:hover::after {
  background-image: var(--hover-card-image);
} */

.card-preview {
  content: "";
  position: absolute;
  border-radius: 18px;
  right: 25px;
  width: 250px;
  height: 350px;
  background-color: white;
  background-image: url('../images/magic/card-back-collectors-edition.jpg');
  background-size: cover;
  margin-top: 2em;
}
.copyable-decklist {

  display: none;
  visibility: hidden;
}

.decklist-copy-btn {
  position: absolute;
  right: 15px;
  margin-top: -0.3rem;
}